<launch>

<param name = "camera_feed" value="/camera/front/right/image_raw" type="string"/>

<arg name = "disco" default = "False"/>
<param name = "disco"  value= "$(arg disco)" type="bool"/>


<arg name = "minus" default = ""/>
<param name = "minus"  value= "$(arg minus)" type="string"/>


<arg name = "only" default = ""/>
<param name = "only"  value= "$(arg only)" type="string"/>


//run visualization:
<node pkg="vision" type="visualization.py" name="visualization" output="screen"/>


<node pkg="vision" type="image_object_tracker.py" name="image_object_tracker" output="screen"/>

//run ex_cv for validation:


<param name = "box"               value = "1" type = "int"/>
<param name = "spot"              value = "1" type = "int"/>
<param name = "strange"           value = "1" type = "int"/>
<param name = "in_here_somewhere" value = "1" type = "int"/>

<node pkg="vision" type = "ex_cv.py" name="ex_cv" output="screen"/>
//params for ex_cv to sim randomness


</launch