<launch>

<param name = "camera_feed" value="/camera/front/right/image_raw" />
//run visualization:
<node pkg="vision" type="visualization.py" name="visualization" output="screen"/>
    
<node pkg="vision" type="image_object_tracker.py" name="image_object_tracker" output="screen"/>
    
//run ex_cv for validation:
<node pkg="vision" type = "ex_cv.py" name="ex_cv" output="screen"/>
//params for ex_cv to sim randomness

<param name = "box"               value = "2" type = "int"/>
<param name = "spot"              value = "2" type = "int"/>
<param name = "strange"           value = "2" type = "int"/>
<param name = "in_here_somewhere" value = "2" type = "int"/>


</launch>